#infobox {
  display: none;
  padding: 10px;
  margin: auto;  
  position: absolute;
  z-index: 10000;
  overflow: scroll;

  width: 40%;
  top: 10px;
  right: 10px;
  bottom: 10px;

  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 5px #bbb;
  color: rgb(33, 58, 98);
}

#infobox p {
  font-size: 16px;
}

#infobox h1 {
  margin-top: 0;
}
#closebar {
  width: 100%;
  line-height: 200%;
  background-color: rgba(108, 168, 206, 0.6);
  color: #fff;
  text-align: center;
}
